<!DOCTYPE html>
<html>
<head>
	<title>Show</title>
</head>
<body>
	<h1><%= campground.title %></h1>
	<h1><%= campground.location %></h1>
	
	<p>
		<a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
	</p>
	
	<footer>		
		<a href="/campgrounds">All Campgrounds</a>
	</footer>
 
</body>
</html>